 :root {
   --pe-toolbar-height: 40px;
 }

body {
  /* remove margins and scroll bars */
  margin: 0;
  overflow: hidden;

  /* style text */
  text-align: center;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;

  /* color text */
  color: #444;
}

h1 {
  /* position the heading */
  position: absolute;
  width: 100%;

  /* make sure that the heading is drawn on top */
  z-index: 1;
}

#workspace {
  /* tell our scene container to take up the full page */
  position: absolute;
  width: 100%;
    height: calc(100% - var(--pe-toolbar-height));
    top: var(--pe-toolbar-height); /* 为顶栏留出空间 */

  /*
    Set the container's background color to the same as the scene's
    background to prevent flashing on load
  */
  background-color: dimgrey;
}
